body {
  background-color: rgb(156, 202, 156);
}

#buttons {
  display: flex;
  justify-content: center;
  margin-top: 100px;
  gap: 50px;
}

#buttons button {
  padding: 20px;
  font-size: 28px;
}

#size-display {
  text-align: center;
  margin-top: 50px;
  font-size: 28px;
  font-family: sans-serif;
}

#container {
  display: flex;
  justify-content: center;
  margin-top: 50px;
}

#square {
  display: flex;
  flex-wrap: wrap;
}
